/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #8c95b1;
  height: 95vh;
}

.login-page {
  border-radius: 10px;
  color: white;
  background-color: #2e3137;
}

.login-button {
  background-color: #04c582;
  color: white;
}

.login-title {
  color: white;
}

.input {
  color: white;
  background-color: #2e3137;
}

.label {
  color: #636b7b;
}

.control-forg {
  color: #636b7b;
}

.control-forg:hover {
  color: white;
}

.login-wrapper {
  padding: 10px;
  background-color: #2e3344;
  border-radius: 20px;
}

.delete-food {
  border: none;
  color: white;
  background-color: red;
  border-radius: 8px;
}

.add-food {
  border-radius: 6px;
}